@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  color: #ecf3fb;
}
body::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(./img/bg-mobile-starry\ night.jpg);
  background-position: center;
  background-size: cover;
}

button {
  border: none;
  outline: none;
  background: none;
  color: #ecf3fb;
  cursor: pointer;
}

ul {
  list-style: none;
}

.todo__container {
  width: 300px;
  padding: 24px 32px;
  background: linear-gradient(rgba(30, 20, 43, 0.6), rgba(30, 20, 43, 0.6))
    padding-box;
  border: 2px solid transparent;
  border-radius: 24px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.15),
    0 0 24px rgba(160, 89, 135, 0.35), 0 0 48px rgba(219, 129, 156, 0.25),
    0 0 96px rgba(59, 31, 82, 0.4);
}
.todo__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__toggleBtn {
  font-size: 1.2rem;
  transition: all 200ms ease;
}
#main__form {
  display: flex;
}
.form__inputField {
  position: relative;
  border-bottom: 1px solid transparent;
}
.form__inputField::after {
  content: '';
  position: absolute;
  background: linear-gradient(90deg, #db819c, #a05987, #3b1f52);
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  pointer-events: none;
  box-shadow: 0 0 6px rgba(219, 129, 156, 0.8), 0 0 14px rgba(160, 89, 135, 0.7),
    0 0 28px rgba(59, 31, 82, 0.6);
}

#form__input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
}
.form__inputField label {
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
}

/* hover effects for desktop */
@media (hover: hover) and (pointer: fine) {
  .header__toggleBtn:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}

/* hover mobile ver. 
later add ripple */
@media (hover: none) and (pointer: coarse) {
  .header__toggleBtn:active {
    transform: translateY(-6px);
  }
}
