:root {
  --color-fresh-lime: #c6f68d;
  --color-leaf-green: #9ad57c;
  --color-soft-moss: #6fb36e;
  --color-deep-forest: #335c3b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Stack Sans Notch', sans-serif;
}

ul {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-deep-forest);
}

.card {
  width: 400px;
}

.card__header {
  padding: 1rem 2rem;
  border-radius: 24px 24px 0 0;
  background: linear-gradient(
    176deg,
    rgba(198, 246, 141, 1) 28%,
    rgba(154, 213, 124, 1) 55%,
    rgba(111, 179, 110, 1) 100%
  );
}

.header__title {
  font-size: 3rem;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.header__categories {
  display: flex;
}

.category__button {
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  border-bottom: 2px solid transparent;
  transition: all 300ms ease;
}
.category__button:hover {
  color: white;
}

.category--selected {
  border: 2px solid var(--color-deep-forest);
  border-radius: 12px;
}

.header__button {
  font-size: 1.5rem;
  transition: all 250ms ease;
}
.header__button:hover {
  transform: scale(1.2);
  color: var(--color-fresh-lime);
}
.card__main {
  height: 400px;
  padding: 1rem 2rem;
  background-color: whitesmoke;
}

.items__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.row__label {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.row__checkbox {
  width: 1.2rem;
  height: 1.2rem;
}

.row__button {
  font-size: 1.2rem;
  transition: all 300ms ease;
}
.row__button:hover {
  color: var(--color-fresh-lime);
  transform: scale(1.2) rotate(15deg);
}

.card__footer {
  padding-bottom: 1rem;
  border-radius: 0 0 24px 24px;
  background: linear-gradient(
    176deg,
    rgba(198, 246, 141, 1) 28%,
    rgba(154, 213, 124, 1) 55%,
    rgba(111, 179, 110, 1) 100%
  );
}

#footer__input {
  width: 100%;
  height: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.footer__button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 0;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 3rem;
  transition: all 300ms ease;
}
.footer__button:hover {
  color: white;
  transform: translateY(4px);
}
